#main {
    width: 1252px;
    height: 834px;
    border: 5px solid rgb(163, 163, 163);
    background-image: url("imagens/mesa2.jpg");
    background-size: cover;
    display: block;
    margin: auto auto;
    border-radius: 20px;
}

body{
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: rgb(163, 163, 163);
}

button {
    width: 300px;
    padding: 5px 0;
    font-size: 35px;
    border-radius: 5px;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 auto 20px auto;
    background-color: goldenrod;
    color: #016f32;
    font-weight: bolder;
    display:block;
    background-color: goldenrod;
    background-color: goldenrod;
}

button:hover {
    background-color: rgb(139, 107, 25);
}

button:active {
    width: 290px;
}

h1 {
    color:goldenrod;
}

h2{
    color: white;
    margin: 20px 0 80px 0;
}

h3 {
    color: white;
    margin: 30px;
    margin-bottom: 50px;
}

#player-el {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.cards {
    flex: 1;
}

.cards:first-child {
    margin-right: 20px;
}

#cardsParent {
    display: flex;
}
